rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // صور الروشتات اللي بيرفعها العملاء
    match /prescriptions/{fileName} {
      allow read: if true;               // عشان تظهر في الفاتورة ولوحة الأدمن
      allow write: if request.resource.size < 10 * 1024 * 1024
                   && request.resource.contentType.matches('image/.*');
    }
  }
}
